    html, body {
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
    }

    body {
      
      background: linear-gradient(135deg, #07e05a, #16e283);
      top: 0;
      left: 0;
    }

    .header {
      text-align: center;
      margin-top: 70px;
      color: rgb(239, 243, 241);
      padding: 20px;
    }

    .profil {
      padding: 40px 20px;
      text-align: center;
      background-color: #f9f9f9;
      border-radius: 10px;
      margin: 20px auto;
      max-width: 800px;
      box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    }

    .profil h2 {
      font-size: 2rem;
      margin-bottom: 30px;
      color: #333;
    }

    .profil p {
      font-size: 1.1rem;
      color: #555;
      line-height: 1.6;
      margin-bottom: 20px;
    }

    .profil-logo {
      width: 150px;
      height: 150px;
      margin: 20px auto;
      display: block;
      border-radius: 50%;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    }

    .profil-user {
      background-color: #fff;
      border: 1px solid #ddd;
      border-radius: 10px;
      padding: 20px;
      margin: 20px auto;
      max-width: 400px;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    }

    .profil-user img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      margin-bottom: 15px;
    }

    .profil-user h3 {
      font-size: 1.5rem;
      margin-bottom: 10px;
      color: #333;
    }

    .profil-user p {
      font-size: 1rem;
      color: #666;
      margin-bottom: 15px;
    }

    .profil-user button {
      background-color: #00ff80;
      border-radius: 30px;
      color: #fff;
      border: none;
      padding: 8px 12px;
      cursor: pointer;
      font-size: 0.9rem;
      transition: background-color 0.3s;
    }

    .profil-user button:hover {
      background-color: #00cc66;
    }

    footer {
      background-color: #333;
      color: white;
      padding: 20px;
      text-align: center;
    }

    footer a {
      color: white;
      text-decoration: none;
      margin: 0 10px;
    }
