    html, body {
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
    }

    body {
      margin-bottom: 10px;
      background: linear-gradient(135deg, #07e05a, #16e283);
      top: 0;
      left: 0;
    }

    .header {
      text-align: center;
      margin-top: 70px;
      background: url('header-bg.jpg') no-repeat center center/cover;
      color: rgb(239, 243, 241);
      padding:10px;
    }

    .cta-btn {
      background-color: #ff5722;
      color: white;
      padding: 10px 20px;
      text-decoration: none;
      border-radius: 5px;
      display: inline-block;
      margin-top: 10px;
    }

    .produk {
      padding: 40px 20px;
      text-align: center;
      background-color: #f9f9f9;
    }

    .produk h2 {
      font-size: 2rem;
      margin-bottom: 20px;
    }

    .produk-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
      gap: 20px;
    }

    .produk-item {
      background-color: #fff;
      border: 1px solid #ddd;
      border-radius: 10px;
      overflow: hidden;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s;
      margin-top: 20px;
    }

    .produk-item:hover {
      transform: translateY(-30px);
    }

    .produk-item img {
      width: 100%;
      height: auto;
      display: block;
    }

    .produk-item h3 {
      font-size: 1.2rem;
      margin: 15px 0 10px;
    }

    .produk-item p {
      font-size: 1rem;
      color: #666;
      margin-bottom: 15px;
    }

    .produk-item button {
      background-color: #00ff80;
      border-radius: 30px;
      color: #fff;
      border: none;
      padding: 8px 12px;
      margin-bottom: 10px;
      cursor: pointer;
      font-size: 0.9rem;
      transition: background-color 0.3s;
    }

    .produk-item button:hover {
      background-color: #0056b3;
    }

   
    .navbar {
      padding: 10px 0;
    }

    .navbar .container-fluid {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .navbar-nav {
      display: flex;
      gap: 20px;
    }

    .navbar-toggler {
      border: none;
    }

    .navbar-toggler:focus {
      box-shadow: none;
    }

    footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

    footer a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInBottom {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 1s ease-in-out;
}



.slide-in-bottom {
  animation: slideInBottom 1s ease-in-out;
}
